.header{
    width:94vw;
    height:8vh;
    position:relative;
    top:0;
    left:6vw;
}

.logout{ 
    position:absolute; 
    top:40%;
    /* tranform:translate(50%, 10%); */
    right:5%; 
    padding:5px; 
    width:4vw;
    font-size:12px;
    text-align:center;
    color:rgb(255, 31, 79); 
    cursor:pointer;
    border-radius:5px;
    background-color:rgba(255, 31, 79,0.2);
}